<div class="shooraai-bestseller-main" id="shooraai-bestseller-main"></div>
<div class="shooraai-trending-main" id="shooraai-trending-main"></div>
<div class="shooraai-recently-view-main" id="shooraai-recently-view-main"></div>
<div class="shooraai-aibased-main" id="shooraai-aibased-main"></div>
<div class="shooraai-related-main" id="shooraai-related-main"></div>
<div class="shooraai-new-arrivals-main" id="shooraai-new-arrivals-main"></div>
<div class="shooraai-featured-main" id="shooraai-featured-main"></div>
<div class="shooraai-cross-sell-main" id="shooraai-cross-sell-main"></div>
<div class="shooraai-bundle-main" id="shooraai-bundle-main"></div>
<div class="shooraai-profitgoals-main" id="shooraai-profitgoals-main"></div>