
 <div class="our-story" style="margin-top:7px  z-index:1;">

                <div class="uk-flex uk-flex-center uk-padding-large uk-padding-remove-bottom">
                  
                    <h1 class="uk-text-center uk-padding-remove">{{ section.settings['head'] }}</h1>
                  
                </div>
                <div class="uk-flex uk-flex-center">
                    <div style="width:700px;   line-height: 1.5;" class="uk-padding-small uk-flex uk-flex-center uk-width-1-3">{{ section.settings['content'] }}</div>
                </div>

                <div class="earth-ov uk-padding-small uk-padding-remove-bottom" style="margin-top:-80px; z-index:-1;"><img src="{{ 'earth-hand.png' | asset_url }}" alt="" width="230px" /></div>

            </div>



   


{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"text",
        "id":"head",
        "label":"head"
      },
      {
        "type":"richtext",
        "id":"content",
        "label":"content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}