{% if section.settings.enable_checkbox %}
 <section class="uk-section uk-position-relative uk-visible@m">
  <div class="uk-position-top-right">
    <img src="{{ 'micImage.svg' | asset_url }}" alt="" loading="lazy" >
  </div>
  <div class="uk-container">
    <h2 class="uk-margin-remove-top uk-text-center uk-margin-medium-bottom">In the press</h2>
    <div class="uk-grid-small uk-text-center uk-child-width-1-4@m" uk-grid>
      <div>
        <div>
          <h4 class="uk-margin-remove-top uk-text-bold">Indian express</h4>
          <p class="uk-margin-remove">
            “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
          </p>
        </div>
      </div>
      <div>
        <div>
          <h4 class="uk-margin-remove-top uk-text-bold">Indian express</h4>
          <p class="uk-margin-remove">
            “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
          </p>
        </div>
      </div>
      <div>
        <div>
          <h4 class="uk-margin-remove-top uk-text-bold">Indian express</h4>
          <p class="uk-margin-remove">
            “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
          </p>
        </div>
      </div>
      <div>
        <div>
          <h4 class="uk-margin-remove-top uk-text-bold">Indian express</h4>
          <p class="uk-margin-remove">
            “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Mobile View -->
<div class="uk-container uk-hidden@m uk-inline">
<div class="uk-position-top-right" style="right:30px">
    <img style="width:50px" loading="lazy"  src="{{ 'micImage.svg' | asset_url }}" alt="">
</div>
<h2 class="uk-margin-remove-top uk-margin-medium-bottom">In the press</h2>

<div class="uk-slider-container-offset" uk-slider>

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid" style="color:black;">
            <li>
                <div class="uk-grid-small uk-text-center uk-child-width-1-4@m" uk-grid>
                  <div>
                    <div>
                      <h2 class="uk-margin-remove-top mainFont" style="color:black;">Indian express</h2>
                      <p class="uk-margin-remove">
                        “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
                      </p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <div class="uk-grid-small uk-text-center uk-child-width-1-4@m" uk-grid>
                  <div>
                    <div>
                      <h2 class="uk-margin-remove-top" style="color:black;">Indian express</h2>
                      <p class="uk-margin-remove">
                        “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
                      </p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <div class="uk-grid-small uk-text-center uk-child-width-1-4@m" uk-grid>
                  <div>
                    <div>
                      <h2 class="uk-margin-remove-top" style="color:black;">Indian express</h2>
                      <p class="uk-margin-remove">
                        “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
                      </p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <div class="uk-grid-small uk-text-center uk-child-width-1-4@m" uk-grid>
                  <div>
                    <div>
                      <h2 class="uk-margin-remove-top" style="color:black;">Indian express</h2>
                      <p class="uk-margin-remove">
                        “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
                      </p>
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <div class="uk-grid-small uk-text-center uk-child-width-1-4@m" uk-grid>
                  <div>
                    <div>
                      <h2 class="uk-margin-remove-top" style="color:black;">Indian express</h2>
                      <p class="uk-margin-remove">
                        “Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor”
                      </p>
                    </div>
                  </div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>

</div>

{% endif %}




{% schema %}
  {
    "name": "In the press",
    "settings": [
      {
      "type":"checkbox",
      "id":"enable_checkbox",
      "label":"Enable section"
      }
    ]
  }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}