<div class="uk-container uk-flex uk-flex-center">
    <div class="uk-text-center" style="max-width:50rem;">
        <div>
            <h1 class="uk-text-center uk-margin">Reset your password</h1>
        </div>
        <div class="uk-margin">
            {% form 'reset_customer_password' %}
                {% if form.errors %}
                    <div class="" role="alert">
                        <strong style="color:red">Error!</strong>
                        <p class="">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}


                <div class="uk-margin">
                    <label for="password" class="sr-only uk-flex uk-flex-left">Password</label>
                    <input type="password"
                        name="customer[password]"
                        id="password"
                        autocomplete="new-password"
                        class="uk-padding-small uk-width-1-1"
                        style="padding-top: 10px; padding-bottom: 10px;"
                        placeholder="Password"
                    >
                </div>

                <div class="">
                    <label for="password_confirmation" class="sr-only uk-flex uk-flex-left">Password Confirmation</label>
                    <input type="password"
                        name="customer[password_confirmation]"
                        id="password_confirmation"
                        autocomplete="new-password"
                        class="uk-padding-small uk-width-1-1"
                        style="padding-top: 10px; padding-bottom: 10px;"
                        placeholder="Confirm your password"
                    >
                </div>

                <div>
                    <button type="submit" class="uk-button uk-margin-top uk-button-default uk-width-1-1">
                        Reset password
                    </button>
                </div>
            {% endform %}
        </div>
    </div>
</div>


{% schema %}
  {
    "name": "customer-password",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}