<div class='social-widget-wrapper' data-widget-id='57426'></div>
 
{% section 'collection-button' %}

{% section 'home-banner' %}

{% section 'home-new-collection' %}

{% section 'blub-imgs' %}

{% section 'best-for-you' %}

{% section 'home-review-section' %}

{% section 'sustainable-fashion-banner' %}

{% section 'Un-section' %}

{% section 'blub2-imgs' %}

{% section 'soe-xrange' %}

{% section 'blub3-imgs' %}

{% section 'Breaking-the-mould' %}

{% section 'pricing-transparency' %}

<div class="uk-margin-small-top marginSection uk-visible@s"></div>

<!-- home insta slide -->
      <div class="uk-visible@m uk-section  " style="padding-bottom:0;">
        <div class="head uk-flex uk-flex-between uk-padding-small uk-container">
          <div class="uk-flex"><h2 class="uk-margin-remove">Follow us on instagram</h2>
          <img src="{{ "Instapng.png" | asset_url }}" style="opacity: 0.6; width:40px; height:40px; top:5px" loading="lazy" class="uk-position-relative"></div>
              <div class="uk-padding-top-small"><p  class="uk-margin-remove" style="padding-top:10px;"><a href="https://instagram.com/shadesofearthofficial" style="text-decoration:none;  color:#777777;">@shadesofearthofficial</a></p></div>
           </div> 
      </div>
      <div class="uk-hidden@m uk-container">
        <div class="head uk-padding-small uk-hidden@m">
          <img src="{{ "Instapng.png" | asset_url }}" loading="lazy"  style="opacity: 0.6; width:40px; height:40px" class="uk-position-relative">
          <div class="uk-flex"><h2 class="uk-margin-remove">Follow us on instagram</h2></div>
              <div class="uk-padding-top-small"><p  class="uk-margin-remove"><a href="https://instagram.com/shadesofearthofficial" style="text-decoration:none; color:#777777;">@shadesofearthofficial</a></p></div>
           </div>
      </div>
      
      <div class="uk-container" id="insta-feed"></div>
<div class="uk-margin-large-top marginSection"></div>
<!-- home insta slide end -->

{% section 'shop-the-look' %}       
   
{% section 'stories-editorial' %}

{% section 'in-the-press' %}

{% include 'greenspark-widget' %}

<!-- resposiveness fix -->
      
<style>
  
@media only screen and (max-width: 640px) {
  .index-toggle-section{
    height: 250px !important;
  }

  .index-review-section1{
    margin-bottom:10px
  }

  .index-review-section2{
    width: 95vw !important;
  }
  .index-shop-the-look{
    width:120px;
  }
}

</style>