<div class="about_page uk-overflow-hidden uk-container">
{% section "about-banner" %}
{% section "about-mision-vision" %}
<div class="what-our-logo-signifies" style="padding-top:68px">
{% section "about-logo-signifies" %}   
{% section "about-valueaction" %}   
{% section "about-our-story" %}   
{% section "about-why-us" %}   



   {% comment %}
{% section "about-press-release" %}   
   {% endcomment %}


     


      



        <div class="our-impact" style="margin:30px 0px 30px 0px">
            <div class="uk-container">
                <div class=" uk-text-center">
                    <h1 class="uk-margin-remove">Our Impact</h1>
<div class="uk-margin-large-top uk-visible@s"></div>
             {% section 'blub2-imgs' %}
             <div class="uk-margin-medium-top uk-visible@s"></div>
               <img src="{{ 'plusicon.png' | asset_url }}" alt="" width="" class="plusicon uk-flex uk-flex-center" style="margin:auto;" />
             {% section 'blub3-imgs' %}
                  {% include 'greenspark-widget' %}
                </div>
            </div>
        </div>
               
                    
                        
                    </div>
                </div>
          
       

