
<div class="uk-text-center uk-container" style="margin-top:40px; margin-bottom:40px;"> 
  <h1>Shipping Information</h1>

  <h2>Shipping Costs</h2>
  <p>
    We offer free shipping for orders within India. The cost of international shipping is determined by the weight of the shipment and the delivery pin code. During the checkout process, you will be able to view the shipping cost in real-time before placing your order.
  </p>

  <h2>Worldwide Shipping</h2>
  <p>
    We ship our products worldwide. For domestic orders, we utilize reliable courier services such as Bluedart and DTDC. For international orders, we work with trusted carriers like DHL or other serviceable providers. If you are unsure about the shipping service availability at your location, please feel free to reach out to us at <a style="text-decoration:none; color: #8BB73F;" href="mailto:hello@shadesofearth.co" >hello@shadesofearth.co</a>, and our team will be happy to assist you.
  </p>

  <h2>Shipment Notification</h2>
  <p>
    Once we have shipped your order from our studio, you will receive an email notification. This email will include the tracking details for your package, enabling you to monitor its progress until it reaches your doorstep.
  </p>

  <h2>Order Dispatch Time</h2>
  <p>
    To ensure the freshness and quality of our products, we do not maintain excess inventory. Instead, we create items on demand. Typically, we dispatch orders within 5 working days from the date of receiving your order. However, in some cases, it may take up to 7 working days. We want to assure you that we are fully committed to delivering your order as soon as possible. If there are any unexpected delays, our customer service team will promptly notify you.
  </p>

  <h2>Estimated Delivery Time</h2>
  <p>
    For domestic orders, if your location is serviced by a reputable courier, you can expect to receive your order within 7 business days from the date of shipping. However, if you are located in major metro cities in India, the delivery time may be faster, typically ranging from 3 to 5 business days. For international orders, the typical delivery time is around 14 days after the items have been shipped.
  </p>

  <h2>Customs and Duties</h2>
  <p>
    Please note that we are unable to provide an exact estimate of customs duties and import charges. These fees are determined by the customs authorities of each country and are based on the product value at the time of port entry. Any applicable import duties would be payable at the time of delivery. We recommend contacting your local customs office or relevant authorities to obtain more specific information regarding potential customs fees.
  </p>

  <h2>Multiple Shipping Locations</h2>
  <p>
    Unfortunately, we are unable to ship to multiple locations simultaneously. If you wish to have items delivered to different addresses, we kindly request that you place separate orders for each location.
  </p>

  <p>
    We strive to provide a smooth and efficient shipping experience for all our customers. If you have any further questions or concerns regarding shipping, please do not hesitate to reach out to us at <a style="text-decoration:none; color: #8BB73F;" href="mailto:hello@shadesofearth.co">hello@shadesofearth.co</a>. Our dedicated customer service team is here to assist you.
  </p>
</div>
