{% section 'faq' %}
{% comment %}
<section class="headerMargin uk-section-default uk-section faq uk-background-cover" style="background-image: url('{{ 'mainSmokeBG.png' | asset_url }}');">
  <div class="uk-container">
    <h1 class="uk-text-center">FAQs</h1>

    <div class="uk-margin-medium-top">
      <ul style="background-color: #f0e6d6" uk-accordion>
        <li class="uk-padding uk-open">
          <a class="uk-accordion-title" href="#">
            <h3 class="uk-margin-remove">01. Lorem ipsum dolor sit amet, consetetur sadipscing ?</h3>
          </a>
          <div class="uk-accordion-content" style="margin-top: 6px">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
          </div>
        </li>
        <li class="uk-padding">
          <a class="uk-accordion-title" href="#">
            <h3 class="uk-margin-remove">02. Lorem ipsum dolor sit amet, consetetur sadipscing ?</h3>
          </a>
          <div class="uk-accordion-content" style="margin-top: 6px">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
          </div>
        </li>
        <li class="uk-padding">
          <a class="uk-accordion-title" href="#">
            <h3 class="uk-margin-remove">03. Lorem ipsum dolor sit amet, consetetur sadipscing ?</h3>
          </a>
          <div class="uk-accordion-content" style="margin-top: 6px">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
          </div>
        </li>
        <li class="uk-padding">
          <a class="uk-accordion-title" href="#">
            <h3 class="uk-margin-remove">04. Lorem ipsum dolor sit amet, consetetur sadipscing ?</h3>
          </a>
          <div class="uk-accordion-content" style="margin-top: 6px">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
          </div>
        </li>
        <li class="uk-padding">
          <a class="uk-accordion-title" href="#">
            <h3 class="uk-margin-remove">05. Lorem ipsum dolor sit amet, consetetur sadipscing ?</h3>
          </a>
          <div class="uk-accordion-content" style="margin-top: 6px">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
          </div>
        </li>
      </ul>
    </div>

    <div
      style="background-image: url('{{ 'faq_contact_bg.png' | asset_url }}'); padding: 32px; margin-top: 56px !important;
"
      class="uk-background-cover uk-flex uk-flex-between uk-flex-middle"
    >
      <div>
        <h2 class="uk-margin-remove">Got a different question?</h2>
      </div>
      <div>
        <a class="uk-button uk-button-primary uk-text-capitalize">contact us</a>
      </div>
    </div>
  </div>
</section>
{% endcomment %}
